<ion-header>
  <ion-toolbar class="toolbar-cont">
    <ion-buttons slot="start">
      <ion-menu-button color="danger">
        <ion-menu-toggle auto-hide="false">
          <img src="assets/icon/DHicon.png" style="width: 30px; height: 30px;">
        </ion-menu-toggle>
      </ion-menu-button>
    </ion-buttons>
    <ion-title>D R I V E H U B</ion-title>
    <ion-button id="user-trigger" color="dark" shape="round" fill="outline" slot="end" class="user-info">
      <ion-icon slot="start" color="red" name="person-outline" size=""></ion-icon>
      <ion-label class="nombre" *ngIf="user">
        <h2>{{user.username}}</h2>
      </ion-label>
    </ion-button>
    <ion-buttons slot="end">
      <ion-button id="language-trigger" shape="round" color="dark" fill="outline">
        <ion-icon name="language-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-popover trigger="language-trigger" triggeraction="click" aria-modal="true" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item fill="clear" [disabled]="language==languageSelected" *ngFor="let language of languages"
            [button]="true" (click)="setLanguage(language)" [detail]="false">
            {{language | uppercase}} - {{'header.languages.'+ language | translate}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
  <ion-popover trigger="user-trigger" triggeraction="click" aria-modal="true" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item [button]="true" (click)="onProfile.emit()">
            <ion-icon slot="start" name="person-outline" color="white"></ion-icon>
            {{'header.user.profile' | translate}}
          </ion-item>
          <ion-item class="boton" [button]="true" (click)="onSignout.emit()">
            <ion-icon slot="start" name="exit-outline" color="red"></ion-icon>
            {{'header.user.signout' | translate}}
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-header>