.toolbar-cont {
    --background: black;
}

.user-info {
    align-items: center;
    font-family: 'BEBAS', sans-serif;
}

ion-title {
    width: auto;
    display: flex;
    font-family: 'BEBAS', sans-serif;
    font-size: xx-large;
    color: red;
}

.nombre {
    color: red;
}

.boton {
    color: red;
}