.user-info{
    align-items: center;
    font-family: 'BEBAS', sans-serif;
}

ion-title {
    align-items: center;
    justify-content: center;
    font-family: 'BEBAS', sans-serif;
    font-style: italic;
    color: red;
}