<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger">
        <ion-menu-toggle auto-hide="false">
          <ion-icon name="reorder-four-outline"></ion-icon>
        </ion-menu-toggle>
      </ion-menu-button>
    </ion-buttons>
    <ion-title><h1>D R I V E H U B</h1></ion-title>
    <ion-button id="user-trigger" color="dark" shape="round" fill="outline" slot="end" class="user-info">
      <ion-icon slot="start" color="danger" name="person-outline" size=""></ion-icon>
      <ion-label *ngIf="user" color="danger"><h2>{{user.username}}</h2></ion-label>
    </ion-button>
    <ion-buttons slot="end">
      <ion-button id="language-trigger" shape="round" color="dark" fill="outline">
        <ion-icon name="language-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-popover trigger="language-trigger" triggeraction="click" aria-modal="true" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item fill="none" [disabled]="language==languageSelected" *ngFor="let language of languages" [button]="true" (click)="setLanguage(language)" [detail]="false">{{language | uppercase}} - {{'header.languages.'+language | translate}}</ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
    </ion-popover>  
  <ion-popover trigger="user-trigger" triggeraction="click" aria-modal="true" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item [button]="true" (click)="onProfile.emit()" [detail]="false"><ion-icon slot="start" name="person-outline"></ion-icon>{{'header.user.profile' | translate}}</ion-item>
          <ion-item [button]="true" (click)="onSignout.emit()" [detail]="false"><ion-icon slot="start" name="exit-outline"></ion-icon>{{'header.user.signout' | translate}}</ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
    </ion-popover>  
</ion-header>