ion-item {
    margin: 5px;
}

.tex {
    font-family: 'BEBAS', sans-serif;
    font-size: x-large;
}

.info {
    display: flex;
}

.toolbar-cont {
    --background: rgb(0, 0, 0) !important;
    color: rgb(255, 255, 255);
}

.ion-padding {
    --background: black;
}

.custom-footer {
    background-color: black;
}