<ion-header [translucent]="true">
  <ion-toolbar class="toolbar-cont">
    <ion-title>{{'perfil.title' | translate}}</ion-title>
    <ion-button slot="end" fill="solid" color="dark" aria-label="New Anuncio" (click)="onNewAnuncio()" class="ok">
      <ion-icon slot="start" name="add-outline" aria-hidden="true" class="icon"></ion-icon>
      <div slot="end">CREAR ANUNCIO</div>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="content" [fullscreen]="true">
  <div class="anun-panel">
    <app-anuncio-info 
      *ngFor="let anun of anuns$ | async" 
      [anun]="anun" 
      (onCardClicked)="onCardClicked(anun)" 
      >
    </app-anuncio-info>
  </div>
</ion-content>