.toolbar-cont {
    --background: black;
}

ion-content {
    --background: black;
}

.contenedor {
    justify-content: center;
    align-items: center;
    font-family: 'BEBAS', sans-serif;
    margin: 40px;
    height: auto;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -20px;
}

ion-img {
    width: auto;
}