.carta-contenido{
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-card {
    flex-direction: column;
    overflow: hidden;
    width: 400px;
    height: auto;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.titulo, .price {
    margin: 0; /* Elimina el margen por defecto de los elementos h1 */
    font-family: 'BEBAS', sans-serif;
}

ion-img {
    width:fit-content;
    margin-bottom: 20px;
}