<ion-card appRedBorder button (click)="onCardClick()" class="neon-border">
  <ion-card-content>
    <div class="imagen">
      <ion-img *ngIf="!anun || !anun.imgs" alt="Silhouette of a person's head" src="assets/imgs/giphy.gif"></ion-img>
      <ion-img *ngIf="anun && anun.imgs" alt="Silhouette of a person's head" [src]="anun.imgs"></ion-img>
    </div>
    <div class="contenedor">
      <h1 class="titulo">{{anun.marca}} {{anun.modelo}}</h1>
      <h1 class="price">{{anun.precio}}€</h1>
    </div>
  </ion-card-content>
</ion-card>