img {
    width: 75px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

ion-toolbar{
    font-family: 'BEBAS', sans-serif;
}