ion-title {
    font-family: 'BEBAS', sans-serif;
    font-style: italic;
    font-size: x-large;
}

img {
    width: 75px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    width: 100vw;
}

ion-toolbar {
    font-family: 'BEBAS', sans-serif;
}

.content {
    --background: url('../../../assets/imgs/carreras-automoviles-competicion-deportiva.jpg') no-repeat center center / cover;
}