<ion-content [fullscreen]="true" class="content">
  <div class="container">
    <ion-card>
      <ion-card-header>
        <div class="logo">
          <img alt="logo of drivehub" src="./../../../assets/imgs/drivehublogo (1).png" />
        </div>
      </ion-card-header>
      <ion-card-content>
        <div class="ion-text-end">
          <ion-button [routerLink]="['/register']" fill="solid" style="text-transform: none;" class="custom-button">{{'login.noAccount' | translate}}</ion-button>
        </div>
        <app-login-form (onsubmit)="onLogin($event)"></app-login-form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>