ion-router-outlet {
    margin-top: 60px;
}

ion-menu {
    --width: 400px;
}

ion-radio-group {
    margin-top: 60px;
}

ion-list {
    background-color: white;
}

ion-item {
    margin: 10px;
    border-radius: 10px;
    font-family: 'BEBAS', sans-serif;
    font-style: italic;
    font-size: x-large;
}