ion-router-outlet {
    margin-top: 60px;
}

ion-list {
    background-color: #F4F5F8;
}

ion-item {
    margin: 10px;
    border-radius: 10px;
    font-family: 'BEBAS', sans-serif;
    font-style: italic;
}