<ion-card color="dark">
  <ion-card-header>
    <ion-card-title>{{'about.name' | translate}} {{'about.surname' | translate}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>{{'about.detail' | translate}}</ion-card-content>
  <ion-button color="danger" href="https://github.com/Alexgg420" target="_blank">
    <ion-icon name="logo-github" aria-label="GitHub"></ion-icon>
    GitHub
  </ion-button>
  <ion-button color="danger" href="https://www.linkedin.com/in/alejandro-gir%C3%A1ldez-guerrero/" target="_blank">
    <ion-icon name="logo-linkedin" aria-label="LinkedIn"></ion-icon>
    LinkedIn
  </ion-button>
</ion-card>