<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="danger" fill="clear" (click)="onCancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img *ngIf="!anun || !anun.imgs" alt="Silhouette of a person's head" src="assets/imgs/giphy.gif"></ion-img>
  <ion-img *ngIf="anun && anun.imgs" alt="Silhouette of a person's head" [src]="anun.imgs"></ion-img>
  <div class="contenedor">
    <div class="info">
      <h1 class="nombre">{{anun?.marca}} {{anun?.modelo}}</h1>
      <h1 class="precio">{{anun?.precio}}€</h1>
    </div>
    <h1 class="year">{{ 'anunciodetail.year' | translate }}: {{ anun?.year | transformDate }}</h1>
  </div>
</ion-content>