<ion-card button (click)="onCardClick()" class="neon-border">
  <ion-card-content>
    <ion-img *ngIf="!misanun || !misanun.img" alt="Silhouette of a person's head" src="./../../../../assets/imgs/21aefa49-6698-4d8e-b09c-09266ef80f42.jpg"></ion-img>
    <ion-img *ngIf="misanun && misanun.img" alt="Silhouette of a person's head" [src]="misanun.img"></ion-img>
    <div class="contenedor">
      <h1 class="titulo">{{misanun.marca}} {{misanun.modelo}}</h1>
      <h1 class="price">{{misanun.precio}}€</h1>
    </div>
  </ion-card-content>
</ion-card>